.mukhiya{
  /* border: 5px inset brown; */
  
  width: 800px;
  height: 500px;
  justify-content: center;
  justify-self: center;
  /* background-color: white; */
}
.sub-mukhiya{
  /* border: 5px inset brown; */
  width: 500px;
  justify-self: center;
  /* margin-top: 10%; */
  text-align: center;
  box-shadow: 1px 2px 50px 10px lightblue;
  background-color: sandybrown;
  border-radius: 30px;

}
.sub-mukhiya:hover{
  background-color: lightblue;
  transform: rotateY(360deg);
  transition: 2s;
}
.sub-mukhiya input{
  width: 60%;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}
.sub-mukhiya button{
  width: 50%;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  font-size: 140%;
}